body {
    font: 16px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#101820+0,46525c+100 */
    background: #101820; /* Old browsers */
    background: -moz-linear-gradient(top,  #101820 0%, #46525c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #101820 0%,#46525c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #101820 0%,#46525c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101820', endColorstr='#46525c',GradientType=0 ); /* IE6-9 */
}

a {
    color: #00B7FF;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.mc-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 30px;
    width: 19%;
    a {
        color: #fff;
    }
    &__img {
        position: relative;
        width: 183px;
        height: 183px;
        display: block;
        margin: 0 auto;
        img {
            margin-top: 5px;
            border-radius: 1px;
        }

        &__overlay {
            position: absolute;
            width: 183px;
            height: 183px;
            background: url("/images/artist_overlay.png") top left;
            z-index: 3;
            background-size: contain;
            &--album {
                position: absolute;
                background: url("/images/album_overlay.png") top left;
                -webkit-background-size: contain;
                background-size: contain;
                width: 192px;
                height: 183px;
            }
        }
    }
}